<!doctype html>
<html>

<head>
    <title>Chat Room</title>
    <h1>~Welcome~</h1>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src='/js/bootstrap.min.js'></script>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
      body {font: 13px Helvetica, Arial;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 80px;}
      .form_2 {  padding: 20px; position: fixed; bottom: 0; width: 90%; }
      .form_2 input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      .form_2 button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }
    </style>

</head>

<body>
    <div class="modal h" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">請輸入姓名</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form >
                        <div class="form-group">
                            <label for="fullname">請輸入姓名</label>
                            <input type="text" class="form-control" name='name ' id="fullname" aria-describedby="emailHelp"
                                placeholder="請輸入姓名">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id='save_button' class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <ul id="messages"></ul>
    <form action="" class='form_2'>
        <input id="m" autocomplete="off" /><button class='btn btn-paimary'>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        $(function () {
            $('.h').modal('show');
            $('#save_button').click(function(){
                $('.h').modal('hide');
                // console.log($("#fullname").val());
            })
            var socket = io();
            $('form').submit(function () { //按下傳送時
                var data={value:$('#m').val() ,name:$("#fullname").val()} //將剛剛輸入的名字 還有內容儲存下來
                socket.emit('<%= room_id %>', data);  //傳送給對應的房號 裡面包含著內容
                $('#m').val(''); //將內容清空
                return false; //不跳頁
            });
            socket.on('<%= room_id %>', function (msg) { //接收對應房號的訊息
            //   console.log(msg.value);
                        $('#messages').append($('<li>').text(msg.name+":"+msg.value)); //當接收到時，將內容輸出
                window.scrollTo(0, document.body.scrollHeight); //跟著字母滑動
            });
        });
    </script>
</body>

</html>