
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign up</title>
    </style>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
  </head>
  <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                  <div id="second">
                      <div class="myform form ">
                            <div class="logo mb-3">
                               <div class="col-md-12 text-center">
                                  <h1 >Signup</h1>
                               </div>
                            </div>
                            <form action="/signup" name="registration" method='post'>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                               </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Password</label>
                                  <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                               </div>
                               <div class="col-md-12 text-center mb-3">
                                  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started</button>
                               </div>
                               <div class="col-md-12 ">
                                  <div class="form-group">
                                     <p class="text-center"><a href="/" id="signin">Already have an account?</a></p>
                                  </div>
                               </div>
                                </div>
                            </form>
                         </div>
                </div>
            </div>
          </div>   
             
    </body>
</html>
